html,
body {
	background-color: black;
	color: rgb(255, 255, 255);
  font-family: "Lucida Console", "Courier New", monospace;
  /* margin: 20;
  padding: 20;
  width: 100vw;
  height: 100vh; */
  overflow: visible; /* arooooooooo */
}

::-webkit-scrollbar {
  width: 0;
}

a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  }

#logo {
    
    display: flex;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    height: min-content;
    width: max-content;
    margin-left: 25%;
  }

  #about {
    
    display: flex;
    position: inherit;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 10px;
    height: min-content;
    width: max-content;
    margin-left: 46%;
    font-size: small;
    margin-top: -2.7vw;
    
  }


  #gravenav{

font-size: 15px;

  }

  /* THIS RIGHT HERE BREDDA */

.graveNumber {
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.skull {
    color: rgb(0, 255, 234);
    font-size: 18px;
}
.tools {
    color: rgb(0, 238, 255);
    font-size: 18px;
   
}
.graveButton,
.buryButton {
    background-color: rgb(0, 0, 0);
    color: white;
}


  /* /////////////  MINTING  /////////////////////////////////////////////////// */


#modalOccupant {
  margin-top: 5px;
  width: 280px;
  height: 20px;
  
}

#modalEpitaph {
  width: 280px;
  height: 20px;
}

#modalMetadata {
  width: 280px;
  height: 20px;
}

#status{
  color: aqua;
  padding: 1vw;
  text-align: right;
}

/* //////////////////////////////////////////////////////////////////////////// */


  #skel {
    position: absolute;
    display: flex;
    pointer-events: none;   /* this element will not catch any events */
    width: 200px;
    height: 12vh;
    text-align: center;
    margin-top: 1vw;
    margin-left: 37vw;
    z-index: 2;
  }



 

.nav-container {
 position: relative; 
 display: flex;
 width: 100%; 
 height: 100%;
 max-width: 800px;
 max-height: 800px;
 text-align: center;
 margin-top: 0vw;
 margin-left: 25%;
 margin-right: 25%;
 padding: 10px;
 border: 1px solid rgb(255, 255, 255);
 font-size: large;
 /* z-index: 2; */
 background-color: #0000009d;
 align-items: center;
 justify-content: center; /* выравнивание по горизонтали */
 align-items: center; /* выравнивание по вертикали */

} 

  

td:hover {
    background-color: rgb(0, 0, 0);
    background-image: url("tomb.gif");
    
}

.grave:hover {
  background-image: url("tomb.gif");
  background-size: 150%;
  background-position: center;
}
.bury:hover {
  background-image: url("dig.gif");
  background-size: 150%;
  background-position: center;
}

.grave > button {
  background-color: rgba(9, 49, 56, 0.973);
  
}

.bury > button {
  background-color: rgba(66, 4, 4, 0.479);
}

td, tr {
  border: 2px dashed white;
  width: 70px;
  height: 100px;
  }


.bury {
  font-size: 12px;
}



td {
  font-size: 28px;
  padding: 10px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  max-width: 800px;
  
}
td > button {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: black;
}


.close-details-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* JAHHWEH STYLEE */

.modal-style {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  width:fit-content;
  height: fit-content;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.863); 
  padding: 20px;
  text-align: right;
  border: 1px solid white;
  text-align: left;
  word-wrap: break-word;
  max-width: 800px;
}

.modal-close {
  position: absolute; 
  right: 10px; 
  top: 10px;
  background-color: rgba(0, 0, 0, 0.863); 
  color: #FFFFFF;
  border: 1px solid white;
}

.address-container {
  font-size: small;
}
  
.nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 10px;
  justify-content: left;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
}

#container-jahhweh {
  position: relative;
  display: flex;
  padding: 10px;
  padding-top: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #0000009d;
  text-align: center;
  font-size: small;
  justify-content: center;
  max-width: 800px;
  margin-left: 25%;
  margin-right: 25%;
}

/* .main-container {
  display: flex;
  justify-content: center;
} */

#submitModal {
margin-left: 50%;

}
